<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.victoires" placeholder="name"/>
    </label>
  </div>
  <div>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
      </label>
  </div>
  <div id = "svgcontainer">
      <svg width="0" height="100">
        </svg>
    </div>

  <button (click)="setGraph()">display</button>

  <div>
  <button (click)="goBack()">go back</button>
</div>
</div>